* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-y: auto;
}

.nav {
  position: sticky;
  width: 100%;
  top: 0;
}

.App {
  background-color: #fcf6b1;
  overflow-y: hidden;
}

.wrapper {
  width: 30vw;
}

.home {
  height: 80vh;
}

.content {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  overflow-y: auto;
}

h1 {
  font-family: "roboto", sans-serif;
  font-size: 64px;
}

footer {
  height: 40vh;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}
